# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
#*.a
#*.lib

# Executables
*.exe
*.out
*.app

# CUDA Artifacts
*.cubin
*.fatbin
*.ii
*.ptx

# Build Output
build
\.DS_Store

# Data Output
common/data/Lena_*
module9/data/Lena_*
